<ion-view cache-view="false" view-title="科湾物业" hide-back-button="true">
  <ion-content>
    <form>
      <div class="list">
        <label class="item item-input">
          <span class="input-label">手机</span>
          <input type="text" ng-model="model.user.account">
        </label>

        <label class="item item-input">
          <span class="input-label">密码</span>
          <input type="password" ng-model="model.user.pwd">
        </label>
        <label class="item item-input"><span class="input-label">设备:</span>
            <input type="text" ng-model="model.user.dev" readonly>
        </label>
        <label class="item item-input"><span class="input-label">app:</span>
            <input type="text" ng-model="model.user.app" readonly>
        </label>

        <label class="item text-center">
          <label ng-bind="model.info"></label>
        </label>

        <label class="item">
          <button class="button button-block button-positive" type="button" ng-click="loginAction(model.user)">Log in</button>
        </label>


      </div>

    </form>
    <p class="text-center">
      <a href="#/app/register" >Register new</a> <a style="margin-left: 100px" href="#/app/forgot" >Forgot password</a>
    </p>
    <p class="text-center">

    </p>
  </ion-content>
</ion-view>
