
<ion-tabs class="tabs-icon-top tabs-color-active-positive">
  <!-- calendar Tab -->
  <ion-tab title="Calendar" icon-off="ion-ios-calendar-outline" icon-on="ion-ios-calendar" href="#/tab/calendar">
    <h1>Playlist</h1>
  </ion-tab>

  <!-- plan Tab -->
  <ion-tab title="Plan" icon-off="ion-ios-list-outline" icon-on="ion-ios-list" href="#/tab/services">
    <h1>Playlist2</h1>
  </ion-tab>

  <!-- message Tab -->
  <ion-tab title="Message" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/message">
    <h1>Playlist3</h1>
  </ion-tab>

  <!-- setting Tab -->
  <ion-tab title="Profile" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/profile">
    <h1>Playlist4</h1>
  </ion-tab>
  <!-- setting Tab -->
  <ion-tab title="Setting" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/setting">
    <h1>Playlist5</h1>
  </ion-tab>

</ion-tabs>
