<ion-view view-title="{{user.fullname}}">
    <ion-content class="accordant-stable-content" delegate-handle="messageDetailsScroll" id="message-detail-content">

        <ion-refresher pulling-text="..." on-refresh="loadMore()" pulling-icon=""></ion-refresher>

        <div ng-repeat="item in chatContent() | orderBy:'timeStamp'">
            <p class="accordant-message-time" ng-bind="item.timeStamp | date : 'yyyy-MM-dd HH:mm:ss'" ng-if="true"></p>

            <div class="accordant-message-wrap" ng-if="item.from.u!=selfId">
                <img ng-src="{{item.from.p}}" class="accordant-head-pic">
                <span class="accordant-triangle-left"></span>

                <p class="accordant-message qq_face" ng-bind-html="item.content | to_emotion" ng-if="item.type=='text'"></p>
                <img class="accordant-message-right" ng-src="{{item.content}}" ng-if="item.type=='img'">
            </div>
            <div class="accordant-message-wrap" ng-if="item.from.u==selfId">
                <img ng-src="{{item.from.p }}" class="accordant-head-pic-right">
                <span class="accordant-triangle-right"></span>

                <p class="accordant-message-right qq_face" ng-bind-html="item.content | to_emotion" ng-if="item.type=='text'"></p>
                <img class="accordant-message-right" ng-src="{{item.content}}" ng-if="item.type=='img'">
            </div>
        </div>


    </ion-content>
    <ion-footer-bar align-title="left" ng-class="{'sendemotion':sendmsg.emotion}"  class="bar-light" resize-foot-bar keyboard-attach>

            <div class="bar">
        <button class="button icon qq_face" ng-click="showEmotion()"><a title="微笑" class="face qqface0">微笑</a></button>
        <button class="button icon ion-ios-plus-outline" ng-click="takephoto()"></button>
        <label class="item item-input accordant-footer-input">
            <textarea msd-elastic ng-model="sendmsg.content" placeholder="Enter text here..." ng-focus="sendmsg.emotion==false"></textarea>
        </label>

        <div class="accordant-footer-btn-wrap">
            <div class="accordant-send-button">
                <p ng-click="savemsg(sendmsg)">Send</p>
            </div>
        </div>
            </div>

        <div class="bar" style="background: none;top:50px;padding-left: 15px;" ng-class="{'hide':!sendmsg.emotion}">
        <div class=" qq_face" >
            <a ng-repeat="em in emotions" title="{{em.title}}" ng-class="em.cls" ng-click="appendemo(em.title)">{{em.title}}</a>
            </div>
        </div>
    </ion-footer-bar>


</ion-view>
