
<ion-view view-title="{{user.fullname}}">
    <ion-content class="accordant-stable-content" delegate-handle="messageDetailsScroll" id="message-detail-content">

        <ion-refresher pulling-text="..." on-refresh="loadMore()" pulling-icon=""></ion-refresher>

        <div ng-repeat="item in chat | orderBy:'timestamp'">
            <p class="accordant-message-time" ng-bind="item.timestamp | date : 'yyyy-MM-dd hh:mm:ss'" ng-if="true"></p>
            <div class="accordant-message-wrap" ng-if="!item.isFromMe">
                <img ng-src="{{item.from.photo }}" class="accordant-head-pic">
                <span class="accordant-triangle-left"></span>

                <p class="accordant-message qq_face" ng-bind-html ="item.content | to_emotion" ng-if="item.type=='text'"></p>
                <img class="accordant-message-right" ng-src="{{item.content}}" ng-if="item.type=='img'">
            </div>
            <div class="accordant-message-wrap" ng-if="item.isFromMe">
                <img ng-src="{{item.from.photo }}" class="accordant-head-pic-right">
                <span class="accordant-triangle-right"></span>
                <p class="accordant-message-right qq_face" ng-bind-html="item.content | to_emotion" ng-if="item.type=='text'"></p>
                <img class="accordant-message-right" ng-src="{{item.content}}" ng-if="item.type=='img'">
            </div>
        </div>

        <div class="qq_face">
            <a title="微笑" type="qq" class="face qqface0">微笑</a>
            <a title="撇嘴" type="qq" class="face qqface1">撇嘴</a>
            <a title="色" type="qq" class="face qqface2">色</a>
            <a title="发呆" type="qq" class="face qqface3">发呆</a>
            <a title="得意" type="qq" class="face qqface4">得意</a>
            <a title="流泪" type="qq" class="face qqface5">流泪</a>
            <a title="害羞" type="qq" class="face qqface6">害羞</a>
            </div>

    </ion-content>
    <ion-footer-bar align-title="left" class="bar-light" resize-foot-bar keyboard-attach>
        <button class="button icon ion-ios-plus-outline" ng-click="takephoto()"></button>

        <label class="item item-input accordant-footer-input">

            <textarea msd-elastic ng-model="send_content" placeholder="Enter text here..."></textarea>
        </label>
        <div class="accordant-footer-btn-wrap">

            <div class="accordant-send-button" >
                <p ng-click="sendmsg(send_content)">Send</p>
            </div>
        </div>
    </ion-footer-bar>

</ion-view>
