
        <ion-list>
            <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats " type="item-text-wrap"
                        href="#/app/message/{{chat.chatId}}">
                <img ng-src="{{chat.chat.photo}}"><span class="message-badge badge badge-assertive">0</span>
                <h2>{{chat.chat.title}}</h2>
                <p>{{chat.chat.lastWords}}</p>
                <i class="icon ion-chevron-right icon-accessory"></i>

                <ion-option-button class="button-assertive" ng-click="remove(chat)">
                    Delete
                </ion-option-button>
            </ion-item>
        </ion-list>


